<h3>New book preview:</h3>

<p>{{ (bookCtrl.bookData.length + 1) + ": " + bookCtrl.newBook.title }}</p>
<p>Description: {{ bookCtrl.newBook.description }}</p>
<p>Author: {{ bookCtrl.newBook.author }}</p>

<form name="form" ng-submit="bookCtrl.addBook()">
		<label>Title:</label>
		<input ng-model="bookCtrl.newBook.title"></input><br />

		<label>Description:</label>
		<input ng-model="bookCtrl.newBook.description"></input><br />

		<label>Select some Genres:</label>
		<select ng-options="genre.name as genre.name for genre in bookCtrl.genreData" ng-model="bookCtrl.newBook.genres" multiple></select><br />

		<label>Or create a new one:</label>
		<input ng-model="bookCtrl.newBook.newGenre"></input><br />

		<label> Author:</label>
		<input ng-model="bookCtrl.newBook.author"></input><br />

		<input type="submit" value="Add book">
</form>

<h1>{{ bookCtrl.genreData }}</h1>